{
    # Session cookie passphrase
    secret => 'Nichts ist gelber als gelb selber',

    # Websocket session timeout in seconds
    timeout => 24 * 60 * 60, # 1 day

    # Hypnotoad production server configuration
    hypnotoad => {
        accepts => 0,
        workers => 1,
    },
};
