@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
h1, h2 {font-family: 'Open Sans Condensed', sans-serif}

h3 {
    font-size: 1.5em;
    font-weight: bold;
}

strong {
    font-weight: bold;
}

p {
    margin-bottom: 1em;
}

#title {
    text-align: center;
    padding: 1em;
    margin-bottom: 4em;
    background-color: #315482;
    color: white;
}

#title.hero {
    padding: 8em 1em 1em;
}

#title h1 {
    font-size: 4rem;
    margin: 0
}

#title h2 {
    font-size: 2rem;
    text-align: left;
    margin: 0;
}

#title .token {
    float: right;
}

#form .join-button,
#form .create-button {
    text-align: right;
}

#bye .start-button {
    text-align: center;
}

footer {
    margin-top: 3em;
    border-top: 2em solid #f2f2f2;
    padding-top: 1em;
    color: #aaa;
    text-align: center;
}

footer a {
    color: #999 !important;
}
